<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/form.css}">
    <script>
        const http = new XMLHttpRequest();
        const url = 'http://localhost:8080/test';
        http.open('POST', url)
        http.send('Malicious code 🕵');
        http.onreadystatechange = (_) => {
            document.getElementById('output')
                .innerHTML = http.responseText
        }
        http.onerror = (_) => {
            document.getElementById('output')
            .innerHTML = http.responseText
        }
    </script>
</head>
<body>
<div style="margin: 5rem 1rem 5rem 1rem">
    <div class="grid-container">
        <!--
        THIS IS NOT WORKING BECAUSE NO CSRF AND NO PROPER LOGIC
        -->
        <br/>
        <div id="login">
            <form name='form-login'
                  method="post"
                  action="/login">
                <input id="user"
                       type="text"
                       title="name"
                       name="name"
                       placeholder="Username"
                       accept="text/plain"
                       alt="name"/>
                <input id="pass"
                       type="password"
                       title="password"
                       name="password"
                       placeholder="Password"
                       accept="text/plain"
                       alt="password"/>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
    <div id="output" class="test-endpoint">
    </div>
</div>
</body>
</html>